<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookspresso.mapper.question.QuestionMapper">
<!--  질문 작성 write  -->
    <insert id="insertBoard">
        <selectKey resultType="Long" keyProperty="qBoardId" order="BEFORE">
            SELECT SEQ_QUESTION_BOARD.nextval FROM DUAL
        </selectKey>
        INSERT INTO TBL_QUESTION(Q_BOARD_ID, MEMBER_ID, Q_TITLE, Q_CONTENT)
        VALUES (#{qBoardId}, #{memberId}, #{qTitle}, #{qContent})
    </insert>



    <select id="selectTotal">
        SELECT COUNT(Q_BOARD_ID)
        FROM TBL_QUESTION
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectQuestion">
        SELECT T.Q_BOARD_ID, T.Q_TITLE, T.Q_CONTENT, T.CREATE_DATE, T.VIEW_COUNT, T.A_STATUS, T.MODIFIED_DATE,
               T.MEMBER_ID, T.NICKNAME,
               A.A_CONTENT, A.ANSWER_ID, A.CREATED_DATE, A.ADMIN_ID, A.ANSWER_MODIFIED_DATE
        FROM (SELECT Q.Q_BOARD_ID, Q.Q_TITLE, Q.Q_CONTENT, Q.CREATE_DATE, Q.VIEW_COUNT, Q.A_STATUS, Q.MODIFIED_DATE,
                     M.MEMBER_ID, M.NICKNAME
              FROM TBL_MEMBER M JOIN TBL_QUESTION Q
              ON M.MEMBER_ID = Q.MEMBER_ID) T LEFT OUTER JOIN TBL_ANSWER A
        ON T.Q_BOARD_ID = A.Q_BOARD_ID
        WHERE T.Q_BOARD_ID = #{qBoardId}
    </select>


    <update id="updateQuestion">
        UPDATE TBL_QUESTION
        SET Q_TITLE =#{qTitle}, Q_CONTENT = #{qContent}, MODIFIED_DATE = SYSDATE
        WHERE Q_BOARD_ID = #{qBoardId}
    </update>


    <update id="updateViewCount">
        UPDATE TBL_QUESTION
        SET VIEW_COUNT = VIEW_COUNT +1
        WHERE Q_BOARD_ID = #{qBoardId}
    </update>


    <select id="selectListWithPage">
        SELECT Q_BOARD_ID, A_STATUS, Q_TITLE,
        MEMBER_ID, NICKNAME, CREATE_DATE, VIEW_COUNT
        FROM(
            SELECT ROWNUM AS RNUM, Q_BOARD_ID, A_STATUS, Q_TITLE,
            MEMBER_ID, NICKNAME, CREATE_DATE, VIEW_COUNT
            FROM(
                SELECT Q.Q_BOARD_ID, Q.A_STATUS, Q.Q_TITLE,
                M.MEMBER_ID, M.NICKNAME,
                TO_CHAR(Q.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE,
                Q.VIEW_COUNT
                FROM TBL_QUESTION Q JOIN TBL_MEMBER M
                ON Q.MEMBER_ID = M.MEMBER_ID
                WHERE M.MEMBER_ID = #{memberId}
                ORDER BY Q.Q_BOARD_ID DESC
                )
            <![CDATA[
            WHERE ROWNUM <= #{page} * #{amount}
            ]]>
            )
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

<!--    <select id="selectAnswer">-->
<!--        SELECT Q.Q_BOARD_ID, A.CREATED_DATE, A.A_CONTENT,-->
<!--               A.ANSWER_ID, A.ADMIN_ID-->
<!--        FROM TBL_QUESTION Q JOIN TBL_ANSWER A-->
<!--        ON Q.Q_BOARD_ID = A.Q_BOARD_ID-->
<!--        WHERE A.Q_BOARD_ID = #{qBoardId}-->
<!--    </select>-->

    <select id="searchListWithPage">
        SELECT Q_BOARD_ID, A_STATUS, Q_TITLE,
        MEMBER_ID, NICKNAME,
        CREATE_DATE,
        VIEW_COUNT
        FROM (
        SELECT ROWNUM AS RNUM, Q_BOARD_ID, A_STATUS, Q_TITLE,
        MEMBER_ID, NICKNAME,
        CREATE_DATE,
        VIEW_COUNT
        FROM (
        SELECT Q_BOARD_ID, A_STATUS, Q_TITLE,
        MEMBER_ID, NICKNAME,
        CREATE_DATE,
        VIEW_COUNT
        FROM (
        SELECT Q.Q_BOARD_ID, Q.A_STATUS, Q.Q_TITLE,
        M.MEMBER_ID, M.NICKNAME,
        TO_CHAR(Q.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE,
        Q.VIEW_COUNT
        FROM TBL_QUESTION Q JOIN TBL_MEMBER M
        ON Q.MEMBER_ID = M.MEMBER_ID
        WHERE M.MEMBER_ID = #{memberId}
        )
        WHERE Q_TITLE LIKE '%' || #{keyword} || '%'
        ORDER BY Q_BOARD_ID DESC
        )
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        )
        WHERE  RNUM> (#{page} - 1) * #{amount}
    </select>

    <select id="searchListTotal">
        SELECT COUNT(Q_BOARD_ID)
        FROM (
                 SELECT Q.Q_BOARD_ID, Q.Q_TITLE
                 FROM TBL_QUESTION Q JOIN TBL_MEMBER M
                                          ON Q.MEMBER_ID = M.MEMBER_ID
                 WHERE M.MEMBER_ID = #{memberId}
             )
        WHERE Q_TITLE LIKE '%' || #{keyword} || '%'
        ORDER BY Q_BOARD_ID DESC
    </select>


<!--  question & answer 쿼리 삭제    -->
    <delete id="deleteQuestion">
        DELETE FROM TBL_QUESTION WHERE Q_BOARD_ID = #{qBoardId}
    </delete>
    <delete id="deleteAnswer">
        DELETE FROM TBL_ANSWER WHERE Q_BOARD_ID = #{qBoardId}
    </delete>
    <select id="answerCount">
        SELECT COUNT(Q_BOARD_ID) FROM TBL_ANSWER WHERE Q_BOARD_ID = #{qBoardId}
    </select>



</mapper>