<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookspresso.mapper.mainPage.MainPageMapper">
    <select id="selectonline">
        SELECT I.DEBATE_ID,T.MEETING_TYPE,P.DEBATE_TYPE, I.TITLE,I.OUTLINE,B.DESCRIPTION,B.AUTHOR,B.TITLE AS BOOK_TITLE,
               TO_CHAR(I.DEBATE_START_DATE,'YYYY-MM-DD')AS DEBATE_START_DATE, TO_CHAR(I.DEBATE_END_DATE,'YYYY-MM-DD')AS DEBATE_END_DATE,
               DB.DEBATE_BOOK_ID,DB.ISBN13,B.COVER
        FROM TBL_DEBATE I JOIN TBL_MEETING_TYPE T
                               ON I.MEETING_ID = T.MEETING_ID
                          JOIN TBL_DEBATE_TYPE P
                               ON I.DEBATE_TYPE_ID = P.DEBATE_TYPE_ID
                          JOIN TBL_DEBATE_BOOK DB
                               ON I.DEBATE_ID = DB.DEBATE_ID
                          JOIN TBL_BOOK B
                               ON DB.ISBN13 = B.ISBN13
    <![CDATA[    WHERE MEETING_TYPE='온라인' AND DEBATE_END_DATE > SYSDATE ]]>
        ORDER BY DEBATE_ID DESC
    </select>
    <select id="selectoffline">
        SELECT I.DEBATE_ID,T.MEETING_TYPE,P.DEBATE_TYPE, I.TITLE,I.OUTLINE,B.DESCRIPTION,B.AUTHOR,B.TITLE AS BOOK_TITLE,
               TO_CHAR(I.DEBATE_START_DATE,'YYYY-MM-DD')AS DEBATE_START_DATE, TO_CHAR(I.DEBATE_END_DATE,'YYYY-MM-DD')AS DEBATE_END_DATE,
               DB.DEBATE_BOOK_ID,DB.ISBN13,B.COVER
        FROM TBL_DEBATE I JOIN TBL_MEETING_TYPE T
                               ON I.MEETING_ID = T.MEETING_ID
                          JOIN TBL_DEBATE_TYPE P
                               ON I.DEBATE_TYPE_ID = P.DEBATE_TYPE_ID
                          JOIN TBL_DEBATE_BOOK DB
                               ON I.DEBATE_ID = DB.DEBATE_ID
                          JOIN TBL_BOOK B
                               ON DB.ISBN13 = B.ISBN13
    <![CDATA[    WHERE MEETING_TYPE='오프라인'  AND DEBATE_END_DATE > SYSDATE ]]>
        ORDER BY DEBATE_ID DESC
    </select>
    <select id="selectPost">
        SELECT P.POST_ID,P.ISBN13,M.NICKNAME,P.POST_TITLE,M.MEMBER_ID,P.POST_CONTENT,TO_CHAR(P.CREATE_DATE,'YYYY-MM-DD')AS CREATE_DATE,
               TP.PROFILE_ID,TP.PROFILE_UUID,TP.PROFILE_UPLOAD,TP.PROFILE_NAME,B.COVER
        FROM TBL_POST P JOIN TBL_MEMBER M
                             ON P.MEMBER_ID = M.MEMBER_ID
                        JOIN TBL_PROFILE TP
                             ON M.MEMBER_ID = TP.MEMBER_ID
                        JOIN TBL_BOOK B
                             ON P.ISBN13 = B.ISBN13
        ORDER BY POST_ID DESC
    </select>
</mapper>