*{
    margin: 0;
    padding: 0;
    
    font-size: 14px;
}
a{
    
    text-decoration-line:none;
    text-decoration-color: black;
}

.screen,
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gnb-lists .on{
    color:chocolate;
}


/* 상단 회원관리 메뉴 */


.sub{
    width: 100%;
    padding: 8px 0;
    background-color: #FAFAFB;
    border-top:1px solid #9B9B9C;
    border-bottom:1px solid #9B9B9C;
    display: flex;
    justify-content: center;

}

.gnb-lists{
    width: 920px;
    overflow: hidden;
    list-style-type: none;

    display: flex;


}

.gnb-lists > li:not(:first-child)::before{
    content: "|";
    padding: 5px 8px;
}

/* /상단 회원관리 메뉴 */

/* 바디 부분 */
.body{
    margin-top: 38px;
}
.body-content > h1 {
    width: 920px;
    font-size: 20px;
    margin: 0 0 17px 2px;
    padding: 0 0 10px 2px;

    border-bottom: 3px solid #565B61;
}


/* 멤버 검색 */
.search_box{
    display: flex;
    align-items: center;

    padding: 18px 21px;
    border: 1px solid #D3D4D7;
}

.search_box > *{
    padding-right: 10px;
}

.search_box input{
    width: 250px;
    padding: 1px 0;
}

.search_box button {
    font-size: 12px;
    padding: 2px 8px;
    margin-left: 4px;
}

select {
    width: 84px;
    height: 18px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 3px;
    margin-top: 3px;
    font-size: 13px;
}


/* board */
.board{
    width: 920px;
    margin-top: 23px;
}
.board-title,
.board-action{
    border-bottom: 1px solid #D3D4D7;
    padding: 8px 0;
}

.board-action > span:not(:first-child){
    padding: 1.5px 7px;
    border: 1px solid #9B9B9C;
    border-radius: 1px;
    font-size: 12px;
    margin-left: 3px;
    
}

/* 회원정보 내용 */
/* .board-content th:not(:first-child)::after{
    content: "|";
    padding: 0 10px;
    color: #9B9B9C;
} */

/* /회원 board */
table{
    border-collapse:collapse;
}
.board-content *{

}
.board-content .tc{
    text-align: center;
    font-size: 12px;
}
.board-content .tl{
    text-align: start;
    font-size: 12px;
}
.board-content .tr{
    text-align:end;
    font-size: 12px;
    padding-right: 7px;
}
.board-content .tl:last-child{
    padding-left: 5px;
}

tbody img {
    width: 20px;
    height: 20px;
    padding: 0 3px;
}

thead th {
    padding: 5px 0;
    font-size: 13px;
    color: #666666;
    background-color: #F1F6FA;
    border-bottom: 1px solid #D3D4D7;
}
tbody td{
    border-bottom: 1px solid #D3D4D7;
    height: 25px;
}
.check-info td {
    border-bottom: 1px solid #D3D4D7;
    height: 21px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 1;*/
}

/* /바디 부분 */

/* 페이지 버튼  */
.page {
    display: flex;
    justify-content: center;

    padding-top: 50px;
}

.page-battom {
    padding: 3px 6px;
    margin: 4px 4px;
    font-size: 18px;
}