*{
    margin: 0;
    padding: 0;

    /* jua 폰트 */
    font-family: "Jua", sans-serif;
    /* 동글 폰트  */
    /* font-family: "Dongle", sans-serif; */
    /* font-size: 12px; */
    color: #333333;

}
a{
    text-decoration-line:none;
}
.full-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

.screen > h1 {
    text-align: center;
    font-size: 40px;

    margin-bottom: 40px;
}

.content_gnb {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1020px;
    margin-bottom: 15px;
}

/* 큐앤에이 검색 */
.modal__search-box,
.modal__search-box > form{
    display: flex;
    align-items: center;
}

.search {
    padding :5.4px 9px;
    border: 1px solid;
    border-radius: 3px;
    margin-right: 2px;
}

.modal__search-box select{
    padding: 7px 8px 9px 10px;
}
.input-box{
    border: 1px solid black;
    border-radius: 3px;
    padding: 1.6px 0;
    margin-left: 3px;

    display: flex;
    justify-content: center;
    
}

.input-box > input {
    border-width: 0;
    width: 210px;
    padding: 5px 3px;
    margin-left: 3px;
    outline: none;

}
.input-box button{
    background-color: transparent;
    border-width: 0;
    margin: 3px 5px 0 0;
}

/* 글쓰기 버튼 */
.writeBtn{
    width: 80px;
    height: 32px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* 테이블 */
table{
    border-collapse:collapse;
}
table th{
    border-top: 1px solid #333333;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0;
}

tbody td {
    border-bottom: 1px solid #CCCCCC;
    padding: 8px 0;
}

tbody .tc{
    text-align: center;
    font-size: 14px;
}
tbody .tl{
    text-align: start;
    font-size: 14px;
    padding-left: 15px;
}
tbody .tr{
    text-align:end;
    font-size: 14px;
}

.status {
    border: 1px solid;
    border-radius: 3px;
    padding: 3px 4px;
}
.clear {
    padding :3px 9.6px;
}


/* 페이지 버튼  */
.page {
    display: flex;
    justify-content: center;

    padding-top: 50px;
}

.page-battom {
    padding: 3px 6px;
    margin: 4px 4px;
    font-size: 18px;
}