<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>북스프레소 - 책향 가득한 공간</title>
    <link rel="shortcut icon" th:href="@{/img/타이틀로고.png}">
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/sidebar.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/mypage/myPost.css}">
    <script defer th:href="@{/js/mypage/myPost.js}"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!-- 전체 화면 -->
<div class="layout_container">
    <div class="layout">
        <div class="layout_content">
            <!-- 사이드바 -->
            <div th:replace="~{mypage/sidebar :: layout_sidebar}"></div>
            <main class="layout_main">
                <div class="post">
                    <div class="post_content">
                        <div class="post_header">
                            <div class="post_header_profile">
                                <div class="post_header_img">
                                    <div class="user-img">
                                        <img th:if="${memberDto.profileId == null}"
                                             th:src="@{/img/사용자이미지.PNG}">
                                        <img th:unless="${memberDto.profileId == null}"
                                             th:src="@{'/pfp/' + ${memberDto.profileUpload} + '/' + ${memberDto.profileUuid + '_' + memberDto.profileName}}">
                                    </div>
                                </div>
                                <div class="post_header_title">
                                    <h1 th:text="${memberDto.nickname + ' 님의 페이지'}"
                                        class="post_header_title-primary"></h1>
                                    <span class="post_header_title-second">글로 남기는 나만의 기록장</span>
                                </div>
                            </div>
                        </div>
                        <div class="post_body">
                            <div class="post_body_list">
                                <div class="post_list">
                                    <div class="post_content_empty">
                                    <span class="content-empty_title">
                                        아직 작성된 글이 없습니다.
                                    </span>
                                    </div>
                                    <div class="post_note">
                                        <div class="post_note_info">
                                            <div class="post_note_header">
                                                <div class="post_note_header_title">
                                                    <span>코딩테스트</span>
                                                </div>
                                            </div>
                                            <div class="post_note_body">
                                                <div class="post_note_body_container">
                                                    <div class="post_note_body_info">
                                                        <div class="post_description">
                                                            <p>코딩테스트</p>
                                                        </div>
                                                        <div class="post_note_footer">
                                                            <div class="footer_author">
                                                                <div class="user-img-box">
                                                                        <span class="user-img"
                                                                              style="width: 20px; height: 20px; line-height: 25px; font-size: 12px">
                                                                            <img th:src="@{/img/사용자이미지.PNG}">
                                                                        </span>
                                                                    <span style="margin-left: 10px"
                                                                          class="profile_nickname">송유</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post_topic">
                                            <div class="post_topic_book">
                                                <img src="https://image.aladin.co.kr/product/34093/56/cover150/k982931181_1.jpg"
                                                     alt="프런트엔드 개발을 위한 테스트 입문 - 프런트엔드 테스트 기초 지식부터 UI 컴포넌트 테스트, E2E 테스트 등 상황에 맞는 테스트 전략까지">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-empty_action">
                            <button type="button" class="post_button">포스트 만들기</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </main>
</div>
</div>
</div>
</body>
</html>