body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Jua", sans-serif;
}

.header {
  height: 100%;
  padding: 20px 0 5px;
}

.header_top {
  height: 100px;
  width: 1920px;
  border-bottom: 1px solid #dfdfdf;
}

.contents {
  width: 1400px;
  height: auto;
  border: 1px solid #dfdfdf;
  margin: 40px auto;
  overflow: hidden;

}

.book_info {
  display: flex;
  height: 484px;
  align-items: center;
  border-bottom: 3px solid #f7f7f7;
  padding-left: 24px;
}

.book_pic {
  width: 531px;
  height: 396px;
  border-radius: 12px;
}

.pic_input {
  width: 531px;
  height: 396px;
}

.book_cover {
  display: flex;
  width: 755px;
  height: 436px;
  border: 1px solid #dfdfdf;
  margin-left: 44px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-between;
}

.book_header {
  height: auto;
  margin: 40px 40px 0 40px;
}

.book_title {
  height: auto;
  font-size: 20px;
  font-weight: 700;
}
.swiper-wrapper{
  height: 400px;
}
.meeting-type{
  list-style-type: none;
  border-radius: 4px;
  font-size: 10px;
  min-width: 22px;
  height: 20px;
  background-color:#efefef;
  margin-top: 10px ;
}
.debate-type{
  list-style-type: none;
  border-radius: 4px;
  font-size: 10px;
  min-width: 22px;
  height: 20px;
  background-color:#ffeb60;
  margin-top: 10px ;
}
.debate-title{
  font-size: 20px;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis

}
.book-content{
  display:block;
  padding-top: 10px;
  overflow: hidden;
}
.book-content-con{
  max-width: 280px;
  height: 61px;
  margin-top: 8px;
  padding: 8px 8px;
  background-color: #efefe7;
  border-radius: 8px;

}
.debate-title{
  font-size: 20px;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis

}
.debate-user{
  font-size: 10px;
  color:#6f6f6f;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis
}
.meeting-date{
  display: flex;
  border-radius: 4px;
  font-size: 10px;
  background-color:#40a9ff85;
}
.book-ul-style{
  overflow: hidden;
  padding:0 10px;
  margin: 5px;
  line-height:20px;
}
.book-ul-st{
  display: flex;
  width:auto ;
  height: auto;
  padding-bottom: 5px;
}
.book_author {
  font-size: 15px;
  font-weight: 700;
  height: auto;
 margin: 15px 0px 5px 0px;
}

.book_info_text {
  height: 20px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 32px;
}

.book_date {
  color: #6f6f6f;
  font-weight: 700;
  font-size: 15px;
}
.boder-line{
  border-bottom: 1px solid #dfdfdf;
  margin: 60px 0 30px 0;
}
.book_description{
  /*border-top: 1px solid #dfdfdf;*/
  font-weight: 500;

  font-size: 20px;
  margin-top: 50px;
}
.simliar_title{
  margin-top: 10px;
  padding: 10px;
}
#a_tag {
  text-decoration: none;
  color: #6f6f6f;
}

.mid_dot {
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #6f6f6f;
  margin-bottom: 4px;
}

.book_footer {
  width: 679px;
  height: 74px;
  border-top: 1px solid rgba(176, 179, 188, 0.5);
  margin: 130px 0 0 32px;
}

.book_footer_count {
  display: inline-block;
  font-size: 15px;
  color: #6f6f6f;
  font-weight: 700;
  width: 125px;
  margin-top: 40px;
}

.count {
  color: #6f6f6f;
  font-weight: 700;
}

.read_btn {
  width: 377px;
  height: 64px;
  background-color: #333;
  color: white;
  border-bottom-left-radius:12px ;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
a{
  text-decoration: none;
  color: inherit;

}
.pick_btn {
  width: 378px;
  height: 62px;
  background-color: white;
  color: #333;
  border-bottom-right-radius: 12px;
  border: none;
  border-top: 1px solid #dfdfdf;
  font-size: 20px;
  font-weight: 500;
}

.heart_btn {
  width: 71px;
  height: 62px;
  border: 1px solid #dfdfdf;
  margin-top: 372.5px;
  border-bottom-right-radius: 12px;
  text-align: center;
  line-height: 62px;
  font-size: 24px;
  cursor: pointer;
}
.link-btn{
  display: flex;

}
#heart_img {
  width: 25px;
  height: 25px;
  margin-top: 17px;
}

.similar_debate {
  width: 1400px;
  height: 400px;
  font-size: 24px;
  padding: 20px;
}
.debate-box{
  list-style-type: none;
  display: flex;
}

.similar_title {
  width: 1400px;
  height: 20px;
}
.post-object-box {
  width: 340px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.debate-object-book-back-box{
  position: absolute;
  width: 325px;
  height: 180px;
  overflow:hidden;
  padding: 5px 0;
}
.debate-object-book-back{
  filter: blur(80px);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: .15;
  overflow:hidden;
}

.debate_list {
  display: inline-block;
  width: 340px;
  height: 330px;
  margin-left: 2px;
  border-radius: 14px;
  margin-top: 30px;
  font-size: 16px;
  box-shadow: 0 0 5px #444;
}

.debate_pic {
  height: 80px;
  width: 340px;
  border-radius: 14px;
}

.debate_title {
  height: 100px;
  width: 340px;
  border-radius: 14px;
}

.debate_point {
  height: 50px;
  width: 340px;
  line-height: 50px;
  margin-left: 20px;
}

.debate_point_detail {
  height: 80px;
  margin: 0 20px;
  width: 300px;
  background-color: antiquewhite;
}

.review_wrap {
  display: flex;
  height: 600px;
  width: 1400px;
  border-left: 1px solid #dfdfdf;
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: column;
}

.review_title {
  height: 80px;
  width: 460px;
  line-height: 100px;
  font-size: 24px;
  margin-left: 20px;
}
.review_content_wrap {
  height: 520px;
  width: 1400px;
  overflow-y: scroll;
  scrollbar-width:none;
}

.review_info_wrap {
  display: flex;
  width: 1390px;
  height: 130px;
  margin: 20px 0;
}

.profile {
  width: 50px;
  height: 50px;
  margin: 0 0 0 20px;
}

.wrap {
  width: 1300px;
  display: flex;
  flex-direction: column;
}

.review_nickname {
  width: 120px;
  height: 20px;
  font-size: 16px;
  margin: 10px 0 0 10px;
}

.review_date {
  font-size: 12px;
  margin-left: 10px;
}

.review_content {
  font-size: 20px;
  margin: 20px 0 20px 10px;
}

.review_like {
  margin-left: 10px;
}

.like {
  width: 60px;
  height: 30px;
  border: 1px solid black;
  border-radius: 16px;
  margin: 98px 20px 0 0;
  text-align: center;
  line-height: 32px;
  font-size: 20px;
}

.like_img {
  width: 19px;
  height: 19px;
  margin-bottom: -2px;
  cursor: pointer;
}

.like_cnt {
  display: inline-block;
}

.comment_write {
  display: block;
  margin-left: 60px;
  margin-top: 30px;
}

.submit_btn {
  width: 70px;
  height:64px;
  background-color: #333;
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
  border-radius:4px ;
  border: none;
}

.library_title {
  height: 100px;
  width: 1300px;
  padding: 0 50px;

  font-size: 28px;
}

.library {
  display: flex;
  width: 1400px;
  height: 800px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.library_search_wrap {
  width: 440px;
  height: 800px;
}

.library_search {
  display: flex;
  border-top:10px ;
  width: 430px;
  height: 80px;
  border-bottom: 1px solid #dfdfdf;
  align-items: center;
}

.search_ul {
  margin: 0;
  padding: 0;
  width: 430px;
  height: 216px;
  list-style: none;
}

.search_li {
  display: flex;
  width: 430px;
  height: 35px;
  align-items: center;
}

.li_text {

  width: 84px;
  font-size: 20px;
  text-align: right;
  margin: 0 10px;
}

.search_sel {
  width: 300px;
  height: 35px;
}

.input_lib_name {
  width: 190px;
  height: 35px;
  margin: 0 10px;
}

.search_btn {
  width: 90px;
  height: 38px;
  border-radius: 0;
  border: none;
  background-color: #fece4c;
  margin: 0 10px;
}

.lib_search_result {
  width: 440px;
  height: 720px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width:none;
}

.library_list_wrap {
  width: 440px;
  height: 260px;
}

.library_list {
  margin: 0 auto;
  width: 400px;
  height: 245px;
  border-bottom: 1px solid #dfdfdf;
}

.list_info_wrap {
  width: 420px;
  height: 265px;
}

.list_title {
  width: 400px;
  height: 30px;
  font-size: 24px;
  margin-top: 20px;
}

.lib_name {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.ul_wrap {
  width: 420px;
  height: 230px;
  display: flex;
}

.list_content_wrap {
  display: inline-block;
  width: 70px;
  height: 200px;
  line-height: 36px;
  padding: 0 0 0 10px;
  list-style-type: none;
}

.list_content_detail {
  display: inline-block;
  height: 200px;
  line-height: 36px;
  padding: 0;
}

.detail_li {
  list-style: none;
  font-size: 16px;
}

.lib_phone {
  color: chocolate;
  list-style-type: none;
  text-decoration: none;
}

.library_map_wrap {
  width: 960px;
  height: 798px;
}

.library_type {
  width: 960px;
  height: 60px;
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

#library_map {
  width: 960px;
  height: 737px;
}

.post_title {
  height: 60px;
  width: 1400px;
  line-height: 80px;
  font-size: 20px;
  font-weight: 700;
}
.post_list {
  height: 430px;
  width: 3124px;
  overflow: hidden;
  padding-top: 20px;
}

.post_list_detail {
  display: inline-block;
  height: 360px;
  width: 370px;
  border-radius: 14px;
  margin-right: 15px;
  box-shadow: 0 0 5px #444;
}
.book-title-style {
font-size: 15px;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-width: 250px;
  padding-left: 10px;
}
.book-content-style{
  font-size: 15px;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.book-button-off{
  display: flex;
  justify-content: center;
  padding-top: 12px;
  font-size: 15px;
  color: #8b8b8b;
}
.book-button{
  display: flex;
  justify-content: center;
  padding-top: 12px;
  font-size: 15px;
  color: #8b8b8b;
}
.show-style{
  width: 300px;
  height: 320px;
padding: 10px;
  border-radius: 14px;
  margin-right: 15px;
  box-shadow: 0 0 5px #444
}
.map-total-box{
  margin: 20px 0;
  border: 20px ;
}
.library-title{
  font-size: 25px;
  margin:20px 10px;
}
.board-object-btn{
  width: 100px;
}
/* 모달창*/
.modal-total-box {
  display: flex;
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  position: absolute;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.modal-text {
  color: rgb(228, 41, 30);
  font-size: 20px;
}
.modal-modify {
  font-size: 20px;
  color: #8491a7;
  line-height: 28px;
  border: none;
  background-color: white;
  padding-bottom:10px ;
}
.modal-modelete{
  font-size: 20px;
  color: #8491a7;
  line-height: 28px;
  border: none;
  background-color: white;
}

.none {
  display: none;
}
.modal-in-box{
  display: flex;
  color: #8491a7;
  width: 60px;
  flex-direction: column;
  align-items: center;
}
.comment-write-box{
  width: 1100px;
  height: 55px;
  padding-left: 20px;
  font-size: 18px;
  border-radius:4px ;
  border: 1px solid #dfdfdf;
}
.review_input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modify-total-box{
  display: flex;
  align-items: center
}
.modify-contnet{
  width: 1000px;
  resize: none;
  border-radius: 10px;
  font-size: 17px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #dee2e6;
}
.modify-content-btn{
  margin-left: auto;
  background-color:rgba(17 18 19);
  color: #ffd200;
  font-size: 15px;
  width: 80px ;
  height: 40px;
  border-radius: 8px;
}
