<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 동글 폰드 -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet"> -->
    <!-- jua 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/member/QandA/qList.css}">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>
    <div class="full-screen">
        <div class="screen">
            <h1>Q&A 게시판</h1>

            <!-- 리스트 위에 정보 div -->
            <div class="content_gnb">
                <div class="r-gnb">
                    <span>TOTAL</span>
                    <span>num</span>
                </div>
                <div class="search-box">
                    <form action="">
                        <select name="QandASearch" id="">
                            <option value="">제목 + 내용</option>
                            <option value="">제목</option>
                            <option value="">내용</option>
                        </select>
                        <div class="input-box">
                            <input type="text" placeholder="검색어를 입력해주세요">
                            <button>
                                <img class="search-icon" src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44339 14.378C11.7226 14.3764 14.3796 11.7168 14.3779 8.43756C14.3763 5.15837 11.7167 2.50138 8.4375 2.50301C5.15831 2.50463 2.50132 5.16426 2.50294 8.44345C2.50457 11.7226 5.1642 14.3796 8.44339 14.378Z' stroke='%23131518' stroke-width='1.5'/%3E%3Cpath d='M16.9623 18.0436C17.2552 18.3365 17.7301 18.3365 18.023 18.0436C18.3159 17.7507 18.3159 17.2758 18.023 16.9829L16.9623 18.0436ZM11.9623 13.0436L16.9623 18.0436L18.023 16.9829L13.023 11.9829L11.9623 13.0436Z' fill='%23131518'/%3E%3C/svg%3E" alt="검색창 아이콘">
                            </button>
                        </div>
                    </form>
                    <span class="writeBtn"><a th:href="@{/qa/write}">글쓰기</a></span>
                </div>
            </div>

            <!-- 큐앤에이 리스트 테이블 -->
            <div class="content">
                <table>
                    <colgroup>
                        <col width="85px"/>
                        <col width="95px"/>
                        <col width="520px"/>
                        <col width="120px"/>
                        <col width="120px"/>
                        <col width="80px"/>
                    </colgroup>

                    <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">답변상태</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Q&A 내용  -->
<!--          제목 누르면 디테일 페이지로 전환 코드 작성해야함              -->
                        <tr>
                            <td class="tc">1</td>
                            <td class="tc">작성완료</td>
                            <td class="tl">test</td>
                            <td class="tc">user1</td>
                            <td class="tc">2024.07.28.</td>
                            <td class="tc">3</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이지 처리 -->
            <div class="page">
                <span class="page-line">
                    <span class="">&lt;&lt;</span>
                    <span class="">&lt;</span>
                    <span class="page-battom"><a href="">1</a></span>
                    <span class="page-battom"><a href="">2</a></span>
                    <span class="page-battom"><a href="">3</a></span>
                    <span class="page-battom"><a href="">4</a></span>
                    <span class="page-battom"><a href="">5</a></span>
                    <span class="">&gt;</span>
                    <span class="">&gt;&gt;</span>
                </span>
            </div>
        </div>

    </div>
</body>
</html>