<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin/main/login.css}">
    <script defer th:src="@{/js/admin/main/login.js}"></script>
</head>
<body>
    <div class="full-screen">
        <h3 class="top-text">관리자 로그인</h3>

        <div class="itemBox">
            <form action="" method="post" id="login-form">
                <div><input type="text" name="userId" id="idForm" class="inputBox" placeholder="아이디"></div>
                <div><input type="password" name="password" id="pwForm" class="inputBox" placeholder="비밀번호"></div>
                <button type="button" class="loginBtn" id="loginBtn">로그인</button>
            </form>
            
        </div>
        <div class="select">
            <a th:href="@{/admin/join}" class="join">회원가입</a>
        </div>


    </div>

    
</body>
</html>