<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/member/css/main_gnb.css">
</head>
<body>
<header class="header" th:fragment="adminHeader">
    <!-- 관리자 페이지 상단 헤더 -->
    <div class="gnb">
<!--        <span><img class="logo-img" src="/img/logo.png" alt="로고"/></span>-->
        <span>BookSpresso</span>
        <span>
            <a th:href="@{/admin/main}">관리자 페이지</a>
        </span>
        <span th:if="${session.adminId!=null}">
            <a th:href="@{/admin/logout}">로그아웃</a></span>
    </div>
      <!-- /관리자 페이지 상단 헤더 -->
</header>
</body>
</html>