<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/member/css/main_gnb.css">
</head>
<body>
    <!-- 관리자 페이지 상단 헤더 -->
    <div class="gnb">
        <span>logo</span>
        <span>관리자 페이지</span>
        <span>
            <a href="">북스프레소</a>
        </span>
        <span>
            <a th:href="@{/admin/main}">toAdmin</a>
        </span>
    </div>
      <!-- /관리자 페이지 상단 헤더 -->
</body>
</html>