<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- jua 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/question/qList.css}">
    <script defer th:inline="javascript" th:src="@{/js/question/qList.js}"></script>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>
    <div class="full-screen">
        <div class="screen">
            <h1>Q&A 게시판</h1>

            <!-- 리스트 위에 정보 div -->
            <div class="content_gnb">
                <div>
                    <span>TOTAL</span>
                    <span th:text="${total}"></span>
                </div>
                <div class="search-box">
                    <form th:action="@{/qa/list/search}" method="get">
                        <div name="searchType" class="search">
                            <option value="qTitle">제목</option>
<!--                            <option value="aStatus">답변 상태</option>-->
                        </div>
                        <div class="input-box">
                            <input type="text" name="keyword" placeholder="검색어를 입력해주세요">
                            <button>
                                <img class="search-icon" src="data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44339 14.378C11.7226 14.3764 14.3796 11.7168 14.3779 8.43756C14.3763 5.15837 11.7167 2.50138 8.4375 2.50301C5.15831 2.50463 2.50132 5.16426 2.50294 8.44345C2.50457 11.7226 5.1642 14.3796 8.44339 14.378Z' stroke='%23131518' stroke-width='1.5'/%3E%3Cpath d='M16.9623 18.0436C17.2552 18.3365 17.7301 18.3365 18.023 18.0436C18.3159 17.7507 18.3159 17.2758 18.023 16.9829L16.9623 18.0436ZM11.9623 13.0436L16.9623 18.0436L18.023 16.9829L13.023 11.9829L11.9623 13.0436Z' fill='%23131518'/%3E%3C/svg%3E" alt="검색창 아이콘">
                            </button>
                        </div>
                    </form>
                    <span class="writeBtn"><a th:href="@{/qa/write}">글쓰기</a></span>
                </div>
            </div>

            <!-- 큐앤에이 리스트 테이블 -->
            <div class="content">
                <table>
                    <colgroup>
                        <col width="85px"/>
                        <col width="95px"/>
                        <col width="520px"/>
                        <col width="120px"/>
                        <col width="120px"/>
                        <col width="80px"/>
                    </colgroup>

                    <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">답변상태</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Q&A 내용  -->
                        <tr th:each="board : ${list}">
                            <td class="tc" th:text="${board.qBoardId}"></td>
                            <td class="tc" th:if="${board.aStatus==true}"><span class="status clear">답장 완료</span></td>
                            <td class="tc" th:unless="${board.aStatus==true}"><span class="status unclear">답장 미완료</span></td>
<!--                             th:text="${board.aStatus}" th:data-id="${board.aStatus}" -->
                            <td class="tl">
                                    <a th:href="@{/qa/detail(qBoardId=${board.qBoardId})}" th:text="${board.qTitle}"></a>
                            </td>
                            <td class="tc" th:text="${board.nickname}"></td>
                            <td class="tc" th:text="${board.createDate}"></td>
                            <td class="tc" th:text="${board.viewCount}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이지 처리 -->
            <div class="page">
                <span class="page-line">

                    <a th:href="@{/qa/list(page=${qPageSetDTO.startPage - 1})}" th:if="${qPageSetDTO.prev}">
                       <span class="">&lt</span>
                    </a>

                    <a th:href="@{/qa/list(page=${i})}"
                       th:each="i : ${#numbers.sequence(qPageSetDTO.startPage, qPageSetDTO.endPage)}">
                        <span class="page-battom" th:classappend="${qPageSetDTO.qPageRequestDTO.page == i ? 'active' : ''}" th:text="${i}"></span>
                    </a>

                    <a th:href="@{/qa/list(page=${qPageSetDTO.endPage + 1})}" th:if="${qPageSetDTO.next}"><span class="">&gt</span></a>

                </span>
            </div>
        </div>

    </div>
</body>
</html>