<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>토론찾기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/debate/debateboard.css}"/>
    <link rel="stylesheet" th:href="@{/css/debate/postobject.css}"/>

    <script defer th:src="@{/js/debate/debatedetail.js}"></script>

</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--토론선택하기-->
<div class="board-total-box">
    <main class="board-main-box">
        <!--    유저 정보-->
        <aside class="aside-total-box">
            <div class="sticky">
                <input type="hidden" name="debateId" th:value="${aside.debateId}" class="debateId-value">
                <div class="aside-object">
                    <img class="aside-img" th:src="${aside.cover}">
                </div>
                <div class="aside-text" >

                </div>
                <div class="aside-title" >
                    <div th:text="${aside.title}"></div>
                </div>
                <div class="aside-text" >
                    <div th:text="${aside.outline}"></div>
                </div>
                <div class="aside-date">
                    <div class="aside-date-text" th:text="${aside.debateStartDate}" >
                    </div>
                    <span class="aside-date-text">&ensp; ~ &ensp;</span>
                    <div class="aside-date-text" th:text="${aside.debateEndDate}" >
                    </div>
                </div>
                <div class="aside-button">
                    <h4>글쓰기</h4>
                </div>
            </div>
         </aside>
        <!--    게시판-->
           <div class="board-object-box">
            <div class="board-object-in-box">
                <div class="board-comtent-box">
                    <input type="hidden" class="hidden-noticeId" th:value="${detail.noticeId}">
                    <div class="board-object-user">
                        <div><img class="debate-img" src="/img/user.png"/></div>
                        <div class="board-object-user-inpo">
                            <div class="board-object-user-name" th:text="${detail.nickname}"></div>
                            <div class="board-object-user-date" th:text="${detail.noticeDate}"></div>

                        </div>
                        <div class="board-object-user-btn">
                            <div class="board-object-btn">
                                <img class="junjun-img" src="/img/junjun.png"/>
                            </div>
                            <div class="modal-total-box none">
                                <div class="modal-in-box">
                                    <div class="modal-text1"><p>수 &nbsp; 정</p></div>
                                    <div class="modal-text1"><p> 삭 &nbsp; 제</p></div>
                                </div>
                                <div class="modal-text"> 신 &nbsp; 고</div>
                            </div>
                        </div>
                    </div>
                    <div class="content-total-box">
                        <div class="bard-objleect-tito" th:text="${detail.title}"></div>
                        <div class="board-object-contnet">
                            <div class="content-content-box" th:utext="${detail.opinion}">
                            </div>
                        </div>


                    </div>
                    <div class="board-object-comment">
                        <div>댓글</div>
                        <div class="board-object-comment-inop-box">
                            <textarea class="comment-text" placeholder="영감을 주는 답글을 남겨보세요"></textarea>
                        </div>
                    </div>
                    <!--                    댓글-->
                    <div class="comment-total-box">

                    </div>
                </div>
            </div>

        </div>

    </main>
</div>
</body>
</html>