<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>토론찾기</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/debate/debateboard.css}"/>
    <link rel="stylesheet" th:href="@{/css/debate/postobject.css}"/>

    <script defer th:src="@{/js/debate/debateboard.js}"></script>

</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--토론선택하기-->
<div class="board-total-box">
    <main class="board-main-box">
        <!--    유저 정보-->
        <aside class="aside-total-box">
            <div class="sticky">
                <input type="hidden" name="debateId" th:value="${aside.debateId}" class="debateId-value">
                <div class="aside-object">
                    <img class="aside-img" th:src="${aside.cover}">
                </div>
                <div class="aside-text" name="meetingId">

                </div>
                <div class="aside-title" name="ISBN13">
                    <div th:text="${aside.title}"></div>
                </div>
                <div class="aside-text" name="title">
                    <div th:text="${aside.outline}"></div>
                </div>
                <div class="aside-date">
                    <div class="aside-date-text" th:text="${aside.debateStartDate}" name="debateStrtDate">
                    </div>
                    <span class="aside-date-text">&ensp; ~ &ensp;</span>
                    <div class="aside-date-text" th:text="${aside.debateEndDate}" name="debateEndDate">
                    </div>
                </div>
                <div class="aside-button">
                    <h4>글쓰기</h4>
                </div>
            </div>
         </aside>
        <!--    게시판-->
           <div class="board-object-box">
            <div class="board-object-in-box">

                <div class="board-comtent-box" th:each="debateBoard:${debateBoard}">
                    <input type="hidden" class="hidden-noticeId" th:value="${debateBoard.noticeId}">
                    <div class="board-object-user">
                        <div><img class="debate-img" src="/img/user.png"/></div>
                        <div class="board-object-user-inpo">
                            <div class="board-object-user-name" th:text="${debateBoard.nickname}"></div>
                            <div class="board-object-user-date" th:text="${debateBoard.noticeDate}"></div>

                        </div>
                    </div>
                    <div class="content-total-box">

                        <a th:href="@{/debate/detail(debateId=${debateBoard.debateId},noticeId=${debateBoard.noticeId})}" class="bard-objleect-tito" th:text="${debateBoard.title}"></a>
                        <div class="board-object-contnet">
                            <a th:href="@{/debate/detail(debateId=${debateBoard.debateId},noticeId=${debateBoard.noticeId})}" class="content-content-box" th:utext="${debateBoard.opinion}"></a>

                        </div>

                    </div>
                    <!--                    댓글-->
                    <div class="comment-total-box">

                    </div>
                </div>
            </div>

        </div>

    </main>
</div>
</body>
</html>