<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--  폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
    <!--  /폰트 -->
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
    <script defer th:src="@{/js/member/login.js}"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
    <div class="full-screen">
        <h3 class="top-text">로그인</h3>

        <div class="itemBox">
            <form th:action="@{/member/login}" method="post" id="login-form">
                <div><input type="text" name="loginId" id="idForm" class="inputBox" placeholder="아이디"></div>
                <div><input type="password" name="password" id="pwForm" class="inputBox" placeholder="비밀번호"
                autocomplete="off"></div>
                <button type="button" class="loginBtn" id="loginBtn">로그인</button>
            </form>
            
        </div>
        <div class="select">
            <a th:href="@{/member/join}" class="join">회원가입</a>
            <a th:href="@{/member/findId}" class="find">아이디 찾기</a>
            <a th:href="@{/member/findPassword}" class="find">비밀번호 찾기</a>
        </div>

<!--   로그인 실패 모달 창     -->
<!--        <div class="fail-login_modal">-->
            <div class="modal-layered">
                <div class="modal-content">
                    <div class="failedMsg">아이디 또는 비밀번호가 일치하지 않습니다.</div>
                    <button type="button" id="close-modal_btn">확인</button>
                </div>
            </div>

<!--        </div>-->

    </div>

    
</body>
</html>