<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">-->
<!--<link rel="stylesheet" th:href="@{/member/css/}">-->
<body>
<div style="margin:100px;">

    <h1>[북스프레소] 이메일 인증번호 </h1>
    <br>
    <div>안녕하세요. 고객님</div>
    <div>[북스프레소] 이메일 인증번호를 안내 드립니다.</div>
    <div>아래 번호를 입력하여 북스프레소 인증 절차를 완료해주세요.</div>
    <br>
    <span>인증번호 : </span>
    <p th:text="${content}"></p>
    <br>
    <div>북스프레소 드림</div>
</div>
</body>
</html>