<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/admin/qa/toAnswer.css}"/>
    <script defer th:src="@{/admin/qa/toAnswer.js}"></script>
  </head>
  <body>
    <div class="full-screen">
      <div class="screen">
        <h1>Q&A 게시판</h1>

        <h4>Q&A 게시판</h4>
        <div class="detail-board">
            <div class="detail-title" th:text="${list.qTitle}"></div>
            <div class="view-info">
              <span class="text">작성자 : <span th:text="${list.nickname}"></span></span>
              <span class="text">작성일 : <span th:text="${list.createDate}"></span></span>
              <span class="text" th:if="${list.modifiedDate!=null}">수정일 : <span th:text="${list.modifiedDate}"></span></span>
            </div>
            <div class="content-box">
              <div class="content" th:text="${list.qContent}"></div>
            </div>


          <form th:action="@{/admin/question/modify}" method="post">
          <div class="answer-box">
            <span class="answer-title">
              관리자 답변
              <span text="sysdate" th:if="${list.answerModifiedDate==null}"name="createdDate" th:text="${list.createdDate}"></span>
              <span text="sysdate" th:unless="${list.answerModifiedDate==null}" name="answerModifiedDate" th:text="${list.answerModifiedDate}"></span>
            </span>
            <input type="hidden" id="qBoardId" name="qBoardId" th:value="${list.QBoardId}">
            <div class="answer-content">
                <textarea name="aContent" th:text="${list.AContent}" cols="30" rows="10"></textarea>
            </div>
          </div>
          <div class="write-btn">
            <button><a th:href="@{/admin/question/finishList}">목록으로</a></button>
            <button id="submit-btn">수정하기</button>

          </div>
          </form>
        </div>





      </div>
    </div>
  </body>
</html>
