<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookspresso.mapper.api.Lib.LibMapper">
    <insert id="insertLib">
        INSERT INTO TBL_LIB(LIBCODE, LIBNAME, ADDRESS, CLOSED, HOMEPAGE, LATITUDE, LONGITUDE, TEL)
        VALUES(#{libcode},#{libname},#{address},#{closed},#{homepage},#{latitude},#{longitude},#{tel})

    </insert>
    <select id="selectduplication">
        select LIBCODE
        from TBL_LIB
        where LIBCODE=#{libcode};
    </select>



</mapper>

















