<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>북스프레소 - 책향 가득한 공간</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/post/postdetail.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer/footer.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer/footer.css}"/>
    <script defer th:src="@{/js/post/post-detail.js}"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="post_Detail_main">
    <section class="content">
        <div class="view">
            <div class="title">
                <div class="title_container">
                    <!--   여기에 포스트 타이틀을 가져온다     -->

                    <div class="post_title" th:text="${postDetail.title}"></div>


                    <div class="flex_container" th:data-id="${postDetail.postId}">


                            <div class="writer-info-user">
                            <div class="nickname" th:text="${postDetail.nickname}"></div>
                            <div class="date" th:text="${postDetail.createDate}"></div>
                            </div>
                        <div class="writer-user-chose">
                            <div class="like-btn">
                                    <button type="button" class="like_btn">
                                        <div>
                                            <img class="editor_icon_heart" src="/img/search/empty_heart.png">
                                            좋아요
                                        </div>
                                    </button>
                            </div>
                            <th:block th:if="${postDetail.memberId==session.memberId}">
                            <div style="cursor: pointer"  class="board-object-user-btn">
                                <div class="board-object-btn">
                                    <img class="more-img"src="/img/more.png"/>
                                </div>
                                <div class="modal-total-box none">
                                    <div class="modal-in-box">

                                        <button type="button" class="modal-modify">수 &nbsp; 정</button>
                                        <button type="button" class="modal-modelete"> 삭 &nbsp; 제</button>

                                    </div>
                                </div>
                            </div>
                            </th:block>
                        </div>


                </div>
            </div>
            <div class="detail">
                <div class="detail_container">
                    <div class="diary_container">
                        <!-- 책 커버 배경 -->
                        <div class="book-total-box">


                        <!-- 포스트 타이틀 제목  -->
                        <div class="post-title" th:text="${postDetail.title}"></div>
                            <div class="post-description"th:text="${postDetail.description}"></div>
                        <!--  책 제목  -->
                            <div class="book-back">
                                <img class="book_container" th:src="${postDetail.cover}" th:alt="${postDetail.title}">
                            </div>
                            <div class="book-picture book">

                                <picture>
                                    <img class="book"
                                         th:src="${postDetail.cover}"
                                         alt="도서 썸네일" width="184px" style="min-height: 0">
                                </picture>
                            </div>
                        <p class="book-produce" th:text="${postDetail.author}"></p>
                        <p class="book-info" th:text="${postDetail.pubdate}"></p>
                        </div>

                        <div class="post_date_container">
                            <p class="title">독서 일자</p>
                            <img class="calender" src="/img/캘린더.png">
                            <p class="text">
                                2024.08.18
                            </p>
                        </div>
                        <div class="post_content_container">
                            <p class="title">독서 일기</p>
                            <p class="text" th:utext="${postDetail.postContent}">

                            </p>
                        </div>

                        <div class="comment_container">
                            <h3 class="post_comment_info">
                                댓글
                                <span class="number" th:text="${postComment.size()}"></span>
                            </h3>
                            <ul class="ul_comment_list">

                            </ul>
                            <div class="comment_register">
                                <div class="register">
                                    <div class="comment_textarea_box">
                                        <div class="inner">
                                            <label>
                                                <span class="comment_label">댓글</span>
                                                <textarea placeholder="다양한 생각을 남겨주세요."
                                                          class="comment_textarea"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                    <button type="button" class="comment_btn">
                                        <span>등록</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:inline="javascript">
    let sessionMemberId=[[${session.memberId}]];
</script>

</body>
</html>