<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookspresso.mapper.debate.DebateBoardMapper">
<!--사이드 정보를 가져오는 값-->
    <select id="selectboardaside">
        SELECT DB.ISBN13,DB.DEBATE_ID,B.COVER,B.TITLE,D.OUTLINE,
               TO_CHAR(D.DEBATE_START_DATE,'YYYY-MM-DD')AS DEBATE_START_DATE,
               TO_CHAR(D.DEBATE_END_DATE,'YYYY-MM-DD')AS DEBATE_END_DATE
        FROM TBL_DEBATE D  LEFT JOIN TBL_DEBATE_BOOK DB
                                     ON D.DEBATE_ID=DB.DEBATE_ID
                           JOIN TBL_BOOK B
                                on B.ISBN13 = DB.ISBN13
        WHERE D.DEBATE_ID=#{debateId}
    </select>
<!--토론 게시판 -->
    <select id="selectboard">
        SELECT DB.NOTICE_ID,D.DEBATE_ID,DB.TITLE,DB.OPINION,TO_CHAR(DB.NOTICE_DATE,'YYYY-MM-DD')AS NOTICE_DATE,
               DB.MEMBER_ID,M.NICKNAME,P.PROFILE_UUID,P.PROFILE_UPLOAD
        FROM TBL_DEBATE_BOARD DB LEFT JOIN TBL_DEBATE D
                                           ON D.DEBATE_ID = DB.DEBATE_ID
                                 JOIN TBL_MEMBER_DEBATE MD
                                      ON D.DEBATE_ID=MD.DEBATE_ID
                                 JOIN TBL_MEMBER M
                                      ON DB.MEMBER_ID=M.MEMBER_ID
                                 LEFT JOIN TBL_PROFILE P
                                           ON M.MEMBER_ID=P.MEMBER_ID
        WHERE DB.DEBATE_ID=#{debateId}
        ORDER BY NOTICE_ID DESC
    </select>
    <!--토론게시판 댓글-->
    <select id="selectBoardComment">
        SELECT DC.NOTICE_ID,M.MEMBER_ID,DC.COMMENT_ID,DC.DEBATE_COMMENT,TO_CHAR(DC.COMMENT_DATE,'YYYY-MM-DD')AS COMMENT_DATE,
               M.NICKNAME,P.PROFILE_UUID,P.PROFILE_UPLOAD
        FROM TBL_DEBATE_BOARD DB LEFT JOIN TBL_DEBATE_COMMENT DC
                                           ON DB.NOTICE_ID=DC.NOTICE_ID
                                 JOIN TBL_MEMBER M
                                      ON DC.MEMBER_ID=M.MEMBER_ID
                                 LEFT JOIN TBL_PROFILE P
                                           ON M.MEMBER_ID=P.MEMBER_ID
        WHERE DC.NOTICE_ID=#{noticeId}
        ORDER BY COMMENT_ID DESC
    </select>
<!--    토론 작성 페이지-->
    <insert id="insertWrite">
        <selectKey resultType="long" keyProperty="noticeId" order="BEFORE">
            select SEQ_DEBATE_BOARD.nextval from dual
        </selectKey>
        INSERT INTO TBL_DEBATE_BOARD(NOTICE_ID, DEBATE_ID, TITLE, OPINION, NOTICE_DATE,MEMBER_ID)
        VALUES (#{noticeId},#{debateId},#{title},#{opinion},TO_CHAR(SYSDATE,'YYYY-MM-DD'),#{memberId})
    </insert>
<!-- 토론 디테일 페이지-->
    <select id="selectDetail">
        SELECT DB.NOTICE_ID,D.DEBATE_ID,DB.TITLE,DB.OPINION,TO_CHAR(DB.NOTICE_DATE,'YYYY-MM-DD')AS NOTICE_DATE,
               MD.MEMBER_ID,M.NICKNAME,P.PROFILE_UUID,P.PROFILE_UPLOAD
        FROM TBL_DEBATE_BOARD DB LEFT JOIN TBL_DEBATE D
                                    ON D.DEBATE_ID = DB.DEBATE_ID
                          JOIN TBL_MEMBER_DEBATE MD
                               ON D.DEBATE_ID=MD.DEBATE_ID
                          JOIN TBL_MEMBER M
                               ON DB.MEMBER_ID=M.MEMBER_ID
                          LEFT JOIN TBL_PROFILE P
                                    ON M.MEMBER_ID=P.MEMBER_ID

        WHERE DB.DEBATE_ID=#{debateId} AND DB.NOTICE_ID=#{noticeId}

    </select>

<!--    게시물 수정-->
    <update id="debateBoardUpdate">
        UPDATE TBL_DEBATE_BOARD
        SET TITLE=#{title},OPINION=#{opinion},NOTICE_DATE=SYSDATE
        WHERE MEMBER_ID=#{memberId} AND NOTICE_ID=#{noticeId}
    </update>
<!--    게시물 삭제-->
    <delete id="debateBoardDelete">
        DELETE FROM TBL_DEBATE_BOARD
        WHERE MEMBER_ID=#{memberId} AND NOTICE_ID=#{noticeId}
    </delete>
<!--    댓글 작성-->
    <insert id="debateCommentInsert">
        <selectKey resultType="long" keyProperty="commentId" order="BEFORE">
            select SEQ_DEBATE_COMMENT.nextval from dual
        </selectKey>
        INSERT INTO TBL_DEBATE_COMMENT(COMMENT_ID, NOTICE_ID, MEMBER_ID, DEBATE_COMMENT, COMMENT_DATE)
        VALUES (#{commentId},#{noticeId},#{memberId},#{debateComment},SYSDATE)
    </insert>
<!--    댓글 수정-->
    <update id="debateCommentUpdate">
        UPDATE TBL_DEBATE_COMMENT
        SET DEBATE_COMMENT=#{debateComment},COMMENT_DATE=SYSDATE
        WHERE  COMMENT_ID=#{commentId}
    </update>
<!--    댓글 삭제-->
    <delete id="debateCommentDelete">
        DELETE FROM TBL_DEBATE_COMMENT
        WHERE COMMENT_ID=#{commentId}
    </delete>

</mapper>













