<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="main-footer">
    <div class="main-footer-category">
        <div class="service-center">
            <div class="center">
                <p class="go-center">고객센터</p>
            </div>
            <div class="footer-telephone">
                <p class="telephone">1234-5678</p>
                <time datetime="09:00" class="center-time">09:00</time>
                <time datetime="18:00" class="center-time">~18:00</time>
            </div>
            <div class="working-day">
                <div class="work">평일: 전체 문의 상담</div>
                <div class="work">토요일, 공휴일: 전체 문의 상담</div>
                <div class="work">일요일: 휴무</div>
            </div>
            <div class="consulting">
                <h1 class="kakaotalk">카톡 상담(평일 09:00~18:00)</h1>
                <p class="email">이메일 문의</p>
            </div>
        </div>
        <div class="line"></div>
        <div class="about-us">
            <p class="guide" >회사소개</p>
            <p class="guide" >채용정보</p>
            <p class="guide">이용약관</p>
            <p class="guide-bold" >개인정보 처리방침</p>
            <p class="guide" >공지사항</p>
            <p class="guide" >안전거래센터</p>
            <p class="guide" >제휴/광고 문의</p>
            <p class="guide" >상품광고 소개</p>
            <p class="guide" >고객의 소리</p>
        </div>
        <div class="line"></div>
        <div class="company">
            <div class="company-name-overflow">
                <div class="company-name">
                    <div class="information">
                        <span class="small-line">|</span>(주)코리아IT아카데미
                    </div>
                    <div class="information">
                        <span class="small-line">| </span>대표이사 이재정
                    </div>
                    <div class="information">
                        <span class="small-line">|</span>
                        <address class="company-address">서울특별시 노원구 상계로1길 34 5층</address>
                    </div>
                    <div class="information">
                        <span class="small-line">|</span>
                        contact@bucketplace.net
                    </div>
                    <div class="information">
                        <span class="small-line">|</span>
                        <span>사업자등록번호 123-45-6789</span>
                        <span class="guide-bold">사업자정보확인</span>
                    </div>
                    <div class="information">
                        <span class="small-line">|</span>
                        통신판매업신고번호 제2018-서울서초-0580호
                    </div>
                </div>
            </div>
            <div>
                <span style="font-size: 10px;">고객님이 현금결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.</span>
                <p target="_blank" href="https://ohouse.notion.site/da111ffbfc7c45a0a1327e23a7bd5dde" class="bank">
                    서비스가입사실확인
                </p>
            </div>
            <div class="sponsor">
                <div class="soonsor-box">
                    <img src="https://assets.ohou.se/design-system/8f5b2c2e98ea1196.png" width="32" height="32" alt="">
                    <div class="sponsor-service">
                        <span>북스프레소 서비스 운영</span>
                        <br>
                        "2024. 04. 27 ~ 2024 .08 .19"
                    </div>
                </div>
                <div class="soonsor-box">
                    <img src="https://assets.ohou.se/design-system/d5fb816a58bb6a06.png" width="32" height="32"  alt="">
                </div>
                <div class="soonsor-box">
                    <img src="https://assets.ohou.se/design-system/ad1cf869a6c58058.png" width="32" height="32" alt="">
                </div>
            </div>
            <div>
                (주)코리아IT아카데미는 통신판매중개자로 거래 당사자가 아니므로, 판매자가 등록한 상품정보 및 거래 등에 대해 책임을 지지 않습니다. 단,
                (주)코리아IT아카데미가 판매자로 등록 판매한 상품은 판매자로서 책임을 부담합니다.
            </div>
            <p>Copyright 2014. bucketplace, Co., Ltd. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>