<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/main/main_gnb.css}">
    <link rel="stylesheet" th:href="@{/css/admin/member/manageMember.css}">

</head>
<body>
    <div class="full-screen">
           <!-- 공통 헤더  -->
        <div class="gnb">
           <span>logo</span>
            <span>관리자 페이지</span>
            <span>
                <a href="">북스프레소</a>
            </span>
            <span>
                <a href="">toAdmin</a>
            </span>
        </div>
        <!-- /공통 헤더  -->
        <div class="header">
            <div class="memberAndAdmin">
                <ul class="gnb-lists">
                    <li><a th:href="@{/admin/member/allList}" >전체 멤버 관리</a></li>
                    <li><a th:href="@{/admin/member/stop-activity}" class="on">활동정지 멤버 관리</a></li>
                    <li><a th:href="@{/admin/member/forced-out}">강제탈퇴 멤버 관리</a></li>
                </ul>    
            </div>
        </div>
        <!-- 바디  -->
        
        <div class="body">
            <div class="body-content">
                <h1>활동정지 멤버 관리</h1>
                <div class="noti-area">
                    <div class="explanation">
                        <p>운영자가 활동 정지한 멤버를 보여주며, 활동정지 해제 또는 강제탈퇴 시킬 수 있습니다.</p>
                        <p>활동정지는 전체 멤버 관리에서 하실 수 있습니다.</p>
                    </div>
                    <span><a th:href="@{/admin/member/allList}">활동정지 하러가기</a></span>
                </div>

                <!-- 멤버 검색  -->
                <div class="search_box">
                    <span>멤버 검색</span>
                    <form action="">
                        <input type="text" name="" placeholder="아이디 검색">
                        <button>검색</button>
                    </form>
                </div>

                <!-- 활동 정지 멤버 리스트 -->
                <div class="member_board">
                    <div class="board-title">
                        <span><strong>활동정지 멤버</strong></span>
                        <span>num</span>
                    </div>
                    <div class="board-action">
                        <span>선택 멤버를</span>
                        <span>활동 정지 해제</span>
                        <span>강제 탈퇴</span>
                    </div>
                    <!-- 회원 정보  -->
                    <div class="board-content">
                        <table>
                            <colgroup>
                                <col width="24px"/>
                                <col width="260px"/>
                                <col width="290px"/>
                                <col width="89px"/>
                                <col width="89px"/>
                                <col width="168px"/>
                            </colgroup>
                        
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <input type="checkbox" class="checkAction" name="check" value="">
                                    </th>
                                    <th scope="col">별명(아이디)</th>
                                    <th scope="col">사유</th>
                                    <th scope="col">처리일</th>
                                    <th scope="col">종료일</th>
                                    <th scope="col">처리자</th>
                                </tr>                               
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- tc: 테이블 센터 정렬 / tl: 테이블 왼쪽 정렬 -->
                                    <td class="tc">
                                        <input type="checkbox" class="checkAction" name="check" value="">                                        
                                    </td>
                                    <td class="tl user">
                                        <div>                                  
                                            <span><img src="https://ssl.pstatic.net/static/cafe/cafe_profile3_45x45.gif" alt=""></span>
                                            <span class="memberName">dsmql112(dmsql112)</span>                                        
                                        </div>
                                    </td>
                                    <td class="tl">욕설 사용</td>
                                    <td class="tc">2024/07/27</td>
                                    <td class="tc">2024/08/03</td>
                                    <td class="tl">관리자1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>

        <!-- 페이지 버튼 -->
        <div class="page">
            <span class="page-line">
                <span class="">&lt;&lt;</span>
                <span class="">&lt;</span>
                <span class="page-battom"><a href="">1</a></span>
                <span class="page-battom"><a href="">2</a></span>
                <span class="page-battom"><a href="">3</a></span>
                <span class="page-battom"><a href="">4</a></span>
                <span class="page-battom"><a href="">5</a></span>
                <span class="">&gt;</span>
                <span class="">&gt;&gt;</span>
            </span>
        </div>

    </div>
</body>
</html>