<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookspresso.mapper.admin.MemberManageMapper">

    <select id="selectMemberList">
        SELECT MEMBER_ID, NICKNAME, LOGIN_ID, EMAIL, JOIN_DATE
        FROM (SELECT ROWNUM AS RNUM, MEMBER_ID, NICKNAME, LOGIN_ID, EMAIL, JOIN_DATE
        FROM (SELECT MEMBER_ID, NICKNAME, LOGIN_ID, EMAIL, TO_CHAR(CREATED_DATE, 'YYYY-MM-DD') AS JOIN_DATE
        FROM TBL_MEMBER
        ORDER BY MEMBER_ID DESC)
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        )
        WHERE RNUM > ( #{page} - 1) * #{amount}
    </select>

    <select id="selectListCount">
        SELECT COUNT(MEMBER_ID)
        FROM TBL_MEMBER
    </select>

    <select id="selectSearchList">
        SELECT MEMBER_ID, NICKNAME, LOGIN_ID, EMAIL, JOIN_DATE
        FROM (SELECT ROWNUM AS RNUM, MEMBER_ID, NICKNAME, LOGIN_ID, EMAIL, JOIN_DATE
        FROM (SELECT MEMBER_ID, NICKNAME, LOGIN_ID, EMAIL, JOIN_DATE
        FROM (SELECT MEMBER_ID, NICKNAME, LOGIN_ID, EMAIL, TO_CHAR(CREATED_DATE, 'YYYY-MM-DD') AS JOIN_DATE
        FROM TBL_MEMBER
        ORDER BY MEMBER_ID DESC)
        <trim prefix="WHERE" prefixOverrides="OR">
            <choose>
                <when test="searchType == 'loginId'">
                    LOGIN_ID LIKE '%' || #{keyword} || '%'
                </when>
                <when test="searchType == 'nickname'">
                    NICKNAME LIKE '%' || #{keyword} || '%'
                </when>
            </choose>
        </trim>
        )
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        )
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <select id="selectSearchListCount">
        SELECT COUNT(MEMBER_ID)
        FROM (SELECT MEMBER_ID, NICKNAME, LOGIN_ID
              FROM TBL_MEMBER)
        <trim prefix="WHERE" prefixOverrides="OR">
            <choose>
                <when test="searchType == 'loginId'">
                    LOGIN_ID LIKE '%' || #{keyword} || '%'
                </when>
                <when test="searchType == 'nickname'">
                    NICKNAME LIKE '%' || #{keyword} || '%'
                </when>
            </choose>
        </trim>
    </select>

    <select id="attendDebateNum">
        SELECT COUNT(MD.MEMBER_ID) AS DEBATE_NUM
        FROM TBL_MEMBER M JOIN TBL_MEMBER_DEBATE MD
                               ON M.MEMBER_ID = MD.MEMBER_ID
        WHERE M.MEMBER_ID = #{memberId}
    </select>

    <select id="writePosterNum">
        SELECT COUNT(P.MEMBER_ID) AS POSTER_NUM
        FROM TBL_POST P JOIN TBL_MEMBER M
                             ON P.MEMBER_ID = M.MEMBER_ID
        WHERE M.MEMBER_ID = #{memberId}
    </select>

    <delete id="deleteMember">
        DELETE TBL_MEMBER WHERE MEMBER_ID = #{memberId}
    </delete>

    <delete id="deleteProfile">
        DELETE TBL_PROFILE WHERE MEMBER_ID = #{memberId}
    </delete>
    
    



</mapper>