<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookspresso.mapper.admin.QuestionManageMapper">
<!--답글 미 완료 리스트-->
    <select id="selectQuestionList">
        SELECT Q_BOARD_ID, Q_TITLE, CREATE_DATE,
        A_STATUS, MEMBER_ID, NICKNAME
        FROM (
        SELECT ROWNUM AS RNUM, Q_BOARD_ID, Q_TITLE, CREATE_DATE,
        A_STATUS, MEMBER_ID, NICKNAME
        FROM(
        SELECT Q.Q_BOARD_ID, Q.Q_TITLE, Q.CREATE_DATE, Q.A_STATUS,
        M.MEMBER_ID, M.NICKNAME
        FROM TBL_QUESTION Q JOIN TBL_MEMBER M
        ON Q.MEMBER_ID = M.MEMBER_ID
        WHERE Q.A_STATUS = 0
        ORDER BY Q.CREATE_DATE DESC
        )
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        )
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <select id="selectQuestionCount">
        SELECT COUNT(Q.Q_BOARD_ID)
        FROM TBL_QUESTION Q JOIN TBL_MEMBER M
        ON Q.MEMBER_ID = M.MEMBER_ID
        WHERE Q.A_STATUS = 0
    </select>

    <select id="selectFinishQuestionList">

        SELECT Q_TITLE, Q_BOARD_ID, A_STATUS, NICKNAME, CREATE_DATE,
               ANSWER_ID, ANSWER_CREATED_DATE, ADMIN_LOGIN_ID,ANSWER_MODIFIED_DATE
        FROM (
                 SELECT ROWNUM AS RNUM, Q_TITLE, Q_BOARD_ID, A_STATUS, NICKNAME, CREATE_DATE,
                        ANSWER_ID,ANSWER_CREATED_DATE, ADMIN_LOGIN_ID,ANSWER_MODIFIED_DATE
                 FROM(
                         SELECT Q.Q_TITLE,Q.Q_BOARD_ID, Q.A_STATUS, M.NICKNAME, Q.CREATE_DATE,
                                A.ANSWER_ID,A.CREATED_DATE AS ANSWER_CREATED_DATE, AD.ADMIN_LOGIN_ID,
                                A.ANSWER_MODIFIED_DATE
                         FROM (TBL_QUESTION Q JOIN TBL_MEMBER M
                               ON Q.MEMBER_ID = M.MEMBER_ID)
                                  FULL OUTER JOIN
                              (TBL_ANSWER A JOIN TBL_ADMIN AD
                               ON A.ADMIN_ID = AD.ADMIN_ID)
                              ON Q.Q_BOARD_ID = A.Q_BOARD_ID
                         WHERE Q.A_STATUS = 1
                         ORDER BY ANSWER_CREATED_DATE DESC
                     )
        <![CDATA[
                 WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        )
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <select id="selectFinishQuestionCount">
        SELECT COUNT(Q.Q_BOARD_ID)
        FROM (TBL_QUESTION Q JOIN TBL_MEMBER M
              ON Q.MEMBER_ID = M.MEMBER_ID)
                 FULL OUTER JOIN
             (TBL_ANSWER A JOIN TBL_ADMIN AD
              ON A.ADMIN_ID = AD.ADMIN_ID)
             ON Q.Q_BOARD_ID = A.Q_BOARD_ID
        WHERE Q.A_STATUS = 1
    </select>

    <insert id="insertAnswer">
        <selectKey resultType="long" keyProperty="answerId" order="BEFORE">
            SELECT SEQ_ANSWER.nextval FROM DUAL
        </selectKey>
        INSERT INTO TBL_ANSWER (ANSWER_ID, ADMIN_ID, Q_BOARD_ID, A_CONTENT)
        VALUES (#{answerId}, #{adminId}, #{qBoardId}, #{aContent})
    </insert>

    <update id="updateAnswerStatus">
        UPDATE TBL_QUESTION SET A_STATUS = 1
        WHERE Q_BOARD_ID = #{qBoardId}
    </update>


<!--  답글 수정  -->
    <update id="updateAnswer">
        UPDATE TBL_ANSWER
        SET A_CONTENT = #{aContent}, ADMIN_ID = #{adminId}, ANSWER_MODIFIED_DATE = SYSDATE
        WHERE Q_BOARD_ID = #{qBoardId}
    </update>


</mapper>