<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookspresso.mapper.admin.QuestionManageMapper">
<!--답글 미 완료 리스트-->
    <select id="selectQuestionList">
        SELECT Q_BOARD_ID, Q_TITLE, CREATE_DATE,
        A_STATUS, MEMBER_ID, NICKNAME
        FROM (
        SELECT ROWNUM AS RNUM, Q_BOARD_ID, Q_TITLE, CREATE_DATE,
        A_STATUS, MEMBER_ID, NICKNAME
        FROM(
        SELECT Q.Q_BOARD_ID, Q.Q_TITLE, Q.CREATE_DATE, Q.A_STATUS,
        M.MEMBER_ID, M.NICKNAME
        FROM TBL_QUESTION Q JOIN TBL_MEMBER M
        ON Q.MEMBER_ID = M.MEMBER_ID
        WHERE Q.A_STATUS = 0
        ORDER BY Q.CREATE_DATE DESC
        )
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        )
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <select id="selectQuestionCount">
        SELECT COUNT(Q.Q_BOARD_ID)
        FROM TBL_QUESTION Q JOIN TBL_MEMBER M
        ON Q.MEMBER_ID = M.MEMBER_ID
        WHERE Q.A_STATUS = 0
    </select>

    <select id="selectFinishQuestionList">

        SELECT Q_BOARD_ID, Q_TITLE, CREATE_DATE,
               A_STATUS, MEMBER_ID, NICKNAME, ADMIN_ID, ADMIN_LOGIN_ID, CREATED_DATE, A_CONTENT
        FROM (
                 SELECT ROWNUM AS RNUM, Q_BOARD_ID, Q_TITLE, CREATE_DATE,
                        A_STATUS, MEMBER_ID, NICKNAME, ADMIN_ID, ADMIN_LOGIN_ID, CREATED_DATE, A_CONTENT, ANSWER_MODIFIED_DATE
                 FROM(
                         SELECT T.Q_BOARD_ID, T.Q_TITLE, T.CREATE_DATE, T.A_STATUS,
                                T.MEMBER_ID, T.NICKNAME,
                                T2.ADMIN_ID, T2.ADMIN_LOGIN_ID, T2.CREATED_DATE, T2.A_CONTENT, T2.ANSWER_MODIFIED_DATE
                         FROM (SELECT Q.Q_BOARD_ID, Q.Q_TITLE, Q.CREATE_DATE, Q.A_STATUS,
                                      M.MEMBER_ID, M.NICKNAME
                               FROM TBL_QUESTION Q JOIN TBL_MEMBER M
                                                        ON Q.MEMBER_ID = M.MEMBER_ID
                               WHERE Q.A_STATUS = 1
                               ORDER BY Q.CREATE_DATE DESC) T
                                  JOIN
                              (SELECT A.ADMIN_ID, A.ADMIN_LOGIN_ID,
                                      AN.Q_BOARD_ID, AN.CREATED_DATE, AN.A_CONTENT, AN.ANSWER_MODIFIED_DATE
                               FROM TBL_ADMIN A JOIN TBL_ANSWER AN
                                                     ON A.ADMIN_ID = AN.ADMIN_ID) T2
                         ON T.Q_BOARD_ID = T2.Q_BOARD_ID
                         ORDER BY T2.CREATED_DATE DESC
                     )
        <![CDATA[
                 WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        )
        WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <select id="selectFinishQuestionCount">
        SELECT COUNT(Q.Q_BOARD_ID)
        FROM TBL_QUESTION Q JOIN TBL_MEMBER M
                                 ON Q.MEMBER_ID = M.MEMBER_ID
        WHERE Q.A_STATUS = 1
    </select>

    <insert id="insertAnswer">
        <selectKey resultType="Long" keyProperty="answerId" order="BEFORE">
            SELECT SEQ_ANSWER.nextval FROM DUAL
        </selectKey>
        INSERT INTO TBL_ANSWER (ANSWER_ID, ADMIN_ID, Q_BOARD_ID, A_CONTENT, CREATED_DATE)
        VALUES (#{answerId}, #{adminId}, #{qBoardId}, #{aContent})
    </insert>

    <update id="updateAnswerStatus">
        UPDATE TBL_QUESTION SET A_STATUS = 1
        WHERE Q_BOARD_ID = #{qBoardId}
    </update>

    <update id="updateAnswer">
        UPDATE TBL_ANSWER
        SET A_CONTENT = #{aContent}, ADMIN_ID = #{adminId}, TBL_ANSWER.ANSWER_MODIFIED_DATE = SYSDATE
        WHERE Q_BOARD_ID = #{qBoardId}
    </update>


</mapper>