<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookspresso.mapper.member.MemberMapper">
<!--회원가입 쿼리-->
    <insert id="insertMember" >
        <selectKey resultType="long" keyProperty="memberId" order="BEFORE">
            SELECT SEQ_MEMBER_ID.nextval FROM DUAL
        </selectKey>
        INSERT INTO TBL_MEMBER (MEMBER_ID, LOGIN_ID, PASSWORD, NICKNAME, EMAIL)
        VALUES (#{memberId}, #{loginId},#{password}, #{nickname}, #{email})
    </insert>
<!--    회원가입시 프로필 자동생성-->
<insert id="insertProfile">
    <selectKey resultType="long" keyProperty="profileId" order="BEFORE">
        SELECT SEQ_PROFILE_ID.nextval FROM DUAL
    </selectKey>
    INSERT INTO TBL_PROFILE(PROFILE_ID, MEMBER_ID, PROFILE_UUID, PROFILE_UPLOAD, PROFILE_NAME, INTRODUCE)
    VALUES (#{profileId},#{memberId},NULL,NULL,NULL,'안녕하세요')
</insert>
    <select id="selectLoginIdCount">
        SELECT COUNT(MEMBER_ID)
        FROM TBL_MEMBER
        WHERE LOGIN_ID = #{loginId}
    </select>

    <select id="selectNicknameCount">
        SELECT COUNT(MEMBER_ID)
        FROM TBL_MEMBER
        WHERE NICKNAME = #{nickname}
    </select>

    <select id="selectEmailCount">
        SELECT COUNT(EMAIL)
        FROM TBL_MEMBER
        WHERE EMAIL = #{email}
    </select>
<!--  로그인 통과 처리 쿼리  -->

    <select id="selectMemberId">
        SELECT MEMBER_ID
        FROM TBL_MEMBER
        WHERE LOGIN_ID = #{loginId} AND PASSWORD = #{password}
    </select>

    <select id="selectLoginIdEmail">
        SELECT LOGIN_ID
        FROM TBL_MEMBER
        WHERE EMAIL = #{email}
    </select>

    <update id="updatePassword">
        UPDATE TBL_MEMBER
        SET PASSWORD = #{newPw}
        WHERE LOGIN_ID = #{loginId}
    </update>



</mapper>