*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    font-family: "Jua", sans-serif;
}
a{
    text-decoration: none;
}
li{
    display: flex;
    margin-top: 16px;
}
img{
    max-width: 100%;
    vertical-align: top;
    border-style: none;
    pointer-events: none;
}
h1{
    font-weight: 700;
    font-size: 2.25em;
    line-height: 52px;
    color: black;
    margin: .67em 0;
    word-break: break-word;
}
.calender{
    margin-bottom: 10px;
}
.post_Detail_main{
    height: 100%;
}
.view{
    font-size: 16px;
    min-width: 320px;
    background-color: white;
}

.title_container{
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
}
.flex_container{
    margin-top:10px ;
    justify-content: space-between;
    display: flex;
    flex-direction: row;

}
.writer-user-chose{
    display: flex;
}
.like-btn{
    margin-right: 10px;
}
.writer-info-user{
    display: flex;
    flex-direction: column;
}
.writer-info{
    display: flex;
    font-size: 1em;

}
li{
    list-style: none;
}
.editor_icon:before{
    content: "\e819";
}
[class^=editor_icon]:before{
    font-family: "Jua", sans-serif;
}

[type=button]{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    -webkit-appearance: button;
    outline: 0;
}
.detail_containe{

    width: 700px;

}
.detail{
    position: relative;
    margin: 80px 0 48px;
}
.diary_container{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.book-total-box{
    display: flex;
    width: 600px;
    height: 400px;

    flex-direction: column;
    align-items: center;
    position:relative;
    z-index: 1;
    margin: 20px auto;
    border-radius: 8px;
    border: 1px solid #dee2e6;
}
/*.book_container{*/
/*    margin-top: 56px;*/
/*    z-index: 1;*/
/*    margin-bottom: 32px;*/
/*    padding: 32px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    border-radius: 12px;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/
.background{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    -webkit-filter: blur(50px);
    filter: blur(50px);

}
.book-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.post-title{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
.post-description{
    margin-top: 5px;
    width: 300px;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.book_container{
    width: 200%;
    height: 200%;
    object-fit: cover;
    filter: blur(80px);
    transform: scale(100%);
    opacity: 70%;
    /*width: 700px;*/
    /*height: 400px;*/
    /*-webkit-filter: blur(16px);*/
    /*filter: blur(16px);*/
    /*background-position: 50% 50%;*/
    /*background-size: 200%;*/
    /*position: absolute;*/
    /* z-index: 0;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}
.book-picture{
    margin: 24px 0 0;
    max-height: none;
    width: 184px;
    border-radius: 0 4px 4px 0;
    -webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,.24)) drop-shadow(4px 8px 8px rgba(0,0,0,.1)) drop-shadow(12px 8px 24px rgba(0,0,0,.2));
    position: relative;
    height: 280px;
}
.book:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    background: linear-gradient(90deg,rgba(0,0,0,.05),rgba(0,0,0,.05) .01%,rgba(0,0,0,.05) 5.97%,hsla(0,0%,100%,.3) 15.89%,hsla(0,0%,100%,0) 28.19%,rgba(0,0,0,.05) 0,rgba(0,0,0,.0277927) 46.96%,hsla(0,0%,100%,0) 47.51%,hsla(0,0%,100%,.1) 54.14%,hsla(0,0%,100%,0));
    height: 100%;
}
.book{
    border-radius: 6px;
    width: 150px;
    height: 200px;
}


.book-produce{
    color: #555;
    margin-top: 24px;
}
.book-info{
    color: #8b8b8b;
    font-size: 14px;
    margin-top: 6px;
}
.post_date_container{
    padding-bottom: 32px;
    border-bottom: 2px solid #f7f7f7;
    margin-bottom: 32px;
}
.diary_container .title{
    font-weight: 700;
    margin-bottom: 16px;
}
.post_content_container{
    padding-bottom: 32px;
    border-bottom: 2px solid #f7f7f7;
    margin-bottom: 32px;
}
.like_container{
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.like_btn{
    border: 1px solid #8b8b8b;
    padding: 7px 16px;
    border-radius: 100px;
    font-size: 12px;

    color: #8b8b8b;
}
.editor_icon_heart{
    width: 10px;
    height: 10px;
}
.like-list{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.6px;
    color: #8b8b8b;
}
.text{
    color: #6f6f6f;
}
.post_title{
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: 30px;
    margin-top: 30px;

}
.post_comment_info{
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
}
.comment_container{
    padding-bottom: 32px;
    border-bottom: 2px solid #f7f7f7;
    margin-bottom: 32px;
}
.number{
    color: #ffb904;
    font-weight: 700;
    margin: 0 auto;
}
.info{
    flex: 1;
    position: relative;
    line-height: normal;
}
.date{
    font-size: 10px;
    color: #8b8b8b;
    margin-top: 0;
    display: block;
    padding-bottom: 2px;
    line-height: 15px;
}
.post_comment{
    color: #555;
    margin: 4px 0;
}
.board-object-btn{
    width: 30px;
}
.more{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 15px;
}
.more_btn{
    width: 24px;
}
.comment_register{
    display: flex;
    margin-top: 24px;
}
.register{
    display: flex;
    width: 100%;
    max-height: 200px;
    align-items: flex-end;
}
.comment_textarea_box{
    width: 100%;
}
.inner{
    display: flex;
    flex-direction: column;
}
.comment_label{
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #8b8b8b;
}
.comment_textarea{
    padding: 12px;
    flex: 1;
    width: 95%;
    border: 0;
    font-size: 16px;
    color: #242424;
    resize: none;
    background: white;
}
.comment_btn{
    max-width: 64px;
    width: 100%;
    margin-left: 8px;
    margin-bottom: 5px;
    padding: 0;
    height: 73%;
    border-radius: 4px;
    color: white;
    background-color: #313131;
}
/* 모달창*/
.modal-total-box {
    display: flex;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    position: absolute;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.modal-modify {
    font-size: 20px;
    color: #8491a7;
    line-height: 28px;
    border: none;
    background-color: white;
    padding-bottom:10px ;
}
.modal-modelete{
    font-size: 20px;
    color: #8491a7;
    line-height: 28px;
    border: none;
    background-color: white;
}
.none {
    display: none;
}
.modal-in-box{
    display: flex;
    color: #8491a7;
    width: 60px;
    flex-direction: column;
    align-items: center;
}
.modify-total-box{
    display: flex;
    align-items: center
}
.modify-contnet{
    width: 550px;
    resize: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dee2e6;
}
.modify-content-btn{
    margin-left: auto;
    background-color:rgba(17 18 19);
    color: #ffd200;
    font-size: 15px;
    width: 80px ;
    height: 40px;
    border-radius: 8px;
}