<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/main/main_gnb.css}">
    <link rel="stylesheet" th:href="@{/css/admin/discussion/manageDiscussion.css}">
    <script defer th:src="@{/js/admin/poster/poster.js}"></script>

</head>
<body>
    <div class="full-screen">
           <!-- 공통 헤더  -->
        <div class="gnb">
           <span>logo</span>
            <span>관리자 페이지</span>
            <span>
                <a href="">북스프레소</a>
            </span>
            <span>
                <a th:href="@{/admin/main}">toAdmin</a>
            </span>
        </div>
        <!-- /공통 헤더  -->
        <div class="header">
            <div class="sub">
                <ul class="gnb-lists">
                    <li><a th:href="@{/admin/poster/public}">공개 포스터</a></li>
                    <li><a th:href="@{/admin/poster/private}">비공개 포스트</a></li>
                    <li><a th:href="@{/admin/poster/drop}" class="on">강제 삭제된 포스트</a></li>
                </ul>    
            </div>
        </div>
        <!-- 바디  -->
        
        <div class="body">
            <div class="body-content">
                <h1>삭제된 토론</h1>

                <!-- 멤버 검색  -->
                <div class="search_box">
                    <span>토론 검색</span>
                    <form action="">
                        <select name="findMember" size="1">
                            <option value="loginId">포스트 제목</option>
                            <option value="nickname">책 제목</option>
                        </select>
                        <input type="text" name="">
                        <button>검색</button>
                    </form>
                </div>

                <!-- 활동 정지 멤버 리스트 -->
                <div class="member_board">
                    <div class="board-title">
<!--                        <span><strong>강제탈퇴 멤버</strong></span>-->
<!--                        <span>num</span>-->
                    </div>

                    <!-- 삭제된 포스트 리스트   -->
                    <div class="board-content">
                        <table>
                            <colgroup>
                                <col width="270px"/>
                                <col width="200px"/>
                                <col width="253px"/>
                                <col width="100px"/>
                                <col width="100px"/>
                            </colgroup>
                        
                            <thead>
                                <tr>
                                    <th scope="col">포스트 제목</th>
                                    <th scope="col">책 제목</th>
                                    <th scope="col">사유</th>
                                    <th scope="col">처리일</th>
                                    <th scope="col">처리자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- tc: 테이블 센터 정렬 / tl: 테이블 왼쪽 정렬 -->
                                    <td class="tl"></td>
                                    <td class="tl"></td>
                                    <td class="tc"></td>
                                    <td class="tc"></td>
                                    <td class="tl"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- 페이지 버튼 -->
        <div class="page">
            <span class="page-line">
                <span class="">&lt;&lt;</span>
                <span class="">&lt;</span>
                <span class="page-battom"><a href="">1</a></span>
                <span class="page-battom"><a href="">2</a></span>
                <span class="page-battom"><a href="">3</a></span>
                <span class="page-battom"><a href="">4</a></span>
                <span class="page-battom"><a href="">5</a></span>
                <span class="">&gt;</span>
                <span class="">&gt;&gt;</span>
            </span>
        </div>


    </div>
</body>
</html>