<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/admin/main/main_gnb.css}">
    <link rel="stylesheet" th:href="@{/css/admin/poster/poster.css}">
    <script defer type="module" th:src="@{/js/admin/poster/poster.js}"></script>
</head>
<body>
<header th:replace="~{admin/main/main_gnb :: adminHeader}"></header>
    <div class="full-screen">
        <div class="header">
            <div class="sub">
                <ul class="gnb-lists">
                    <li><a th:href="@{/admin/poster/public}" class="on">공개 포스터</a></li>
<!--                    <li><a th:href="@{/admin/poster/private}">비공개 포스트</a></li>-->
<!--                    <li><a th:href="@{/admin/poster/drop}">강제 삭제된 포스트</a></li>-->
                </ul>    
            </div>
        </div>
        <!-- 바디  -->
        
        <div class="body">
            <div class="body-content">
                <h1>공개 포스트</h1>

                <!-- 포스터 검색  -->
                <div class="search">
                    <div class="search_box">
                        <span>포스터 검색</span>
                        <form th:action="@{/admin/poster/public/search}" method="get">
                            <select name="searchType" size="1">
                                <option value="postTitle">포스트 제목</option>
                                <option value="bookName">책 제목</option>
                                <option value="nickname">작성회원</option>
                            </select>
                            <input type="text" name="keyword">
                            <button>검색</button>
                        </form>
                    </div>
                    <!-- <div class="detail-search">

                    </div> -->
                </div>

                <!-- 포스트 리스트 -->
                <div class="board">
                    <div class="board-title">
                        <span><strong>포스트 리스트</strong></span>
                        <span th:text="${total}"></span>
                    </div>
                    <div class="board-action">
                        <span>선택 포스트를</span>
                        <span id="drop-btn">삭제</span>
                    </div>
                    <!-- 포스터 정보  -->
                    <div class="board-content">
                        <table>
                            <colgroup>
                                <col width="23px"/>
                                <col width="290px"/>
                                <col width="350px"/>
                                <col width="130px"/>
                                <col width="130px"/>
                            </colgroup>
                        
                            <thead>
                                <tr class="table-header">
                                    <th scope="col">
                                        <input type="checkbox" id="allCheck" class="checkAction" name="check" >
                                    </th>
                                    <th scope="col">포스트 제목</th>
                                    <th scope="col">책 제목</th>
                                    <th scope="col">작성회원</th>
                                    <th scope="col">작성일자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="check-info" th:each="board : ${list}">
                                    <!-- 토론 리스트 뿌려지는 곳 -->
                                    <!-- tc: 테이블 센터 정렬 / tl: 테이블 왼쪽 정렬 -->
                                    <td class="tc" >
                                        <input type="checkbox" class="checkAction check-boxes" name="check" th:value="${board.postId}">
                                    </td>
                                    <td class="tl" th:text="${board.postTitle}"></td>
                                    <td class="tl" th:text="${board.bookName}"></td>
                                    <td class="tc" th:text="${board.nickname}"></td>
                                    <td class="tc" th:text="${board.createDate}"></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>

        <!-- 페이지 버튼 -->
        <div class="page">
            <span class="page-line">

                <a th:href="@{/admin/poster/public(page=${adminPageSetDTO.startPage - 1})}" th:if="${adminPageSetDTO.prev}">
                    <span>&lt</span>
                </a>

                <a th:href="@{/admin/poster/public(page=${i})}"
                   th:each="i : ${#numbers.sequence(adminPageSetDTO.startPage, adminPageSetDTO.endPage)}">
                    <span class="page-battom" th:classappend="${adminPageSetDTO.adminPageRequestDTO.page == i ? 'active' : ''}" th:text="${i}"></span>
                </a>
                <a th:href="@{/admin/poster/public(page=${adminPageSetDTO.endPage + 1})}" th:if="${adminPageSetDTO.next}">
                    <span>&gt</span>
                </a>


            </span>
        </div>

        <!-- js : 토론 제목 눌렀을 때 나오는 리스트 
        
        -->
        

    </div>
</body>
</html>