*{
    margin: 0;
    padding: 0;
    
}

/* 관리자 페이지 해더  */
.gnb {
    width: 100%;
    height: 35px;
    background-color: #2B2E33;
    
    display: flex;
    justify-items: center;
}

.gnb > span {
    padding-left: 15px;
    font-size: 15px;
}
/* /관리자 페이지 해더  */

/* 관리자 메인 페이지 */
.full-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style-type: none;
}

.info_area{
    width: 890px;
    height: 160px;
    border: 1px solid #CFCFCF; 
    margin-top: 40px;
    /* #E0E0E0; */
    display: flex;
     
}

.info_area-img{
    width: 122px;
    height: 122px;

    padding: 18px 30px 18px 30px;
}

.info_area-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.info_area-cont > .count{
    display: flex;
    flex-direction: row;

    font-size: 11px;
}

.info_area-cont > .admin_info{
    font-size: 11px;
    line-height: 20px;
} 

.count > li,img,span {
    padding:  8px 5px;
}



/* 관리자 메인 기능 보드 */
.main_area {
    width: 890px;
    border: 1px solid #CFCFCF;

    margin-top: 25px;
    padding: 15px 0;

    display: flex;
    justify-content: center;

}

.main_area > div{
    width: 161px;
    padding: 18px 8px;
    text-align: center;
}
.main_area > div > strong {
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 18px;
    color: #272727;
}

.main_area > div > ul{
    font-size: 11px;
    line-height: 18px;
    color: #808080;
}

a{
    text-decoration: none;
    color: #808080;
}

