<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookspresso.mapper.post.PostDetailMapper">
    <select id="selectPostDetail">
        SELECT P.POST_ID,P.ISBN13,P.MEMBER_ID,P.POST_TITLE,P.POST_CONTENT,TO_CHAR(P.CREATE_DATE,'YYYY-MM-DD') AS CREATE_DATE ,B.TITLE,B.AUTHOR,B.COVER,B.DESCRIPTION,
               TO_CHAR(B.PUBDATE,'YYYY-MM-DD') AS PUBDATE ,M.NICKNAME
        FROM TBL_POST P JOIN TBL_BOOK B
                             ON P.ISBN13 =B.ISBN13
                        JOIN TBL_MEMBER M
                             ON M.MEMBER_ID=P.MEMBER_ID
        WHERE P.POST_ID=#{postId}
    </select>

    <select id="selectPostComment">
        SELECT PC.COMMENT_ID,
               PC.COMMENT_CONTENT,
               TO_CHAR(PC.CREATE_DATE, ('YYYY-MM-DD')) AS CREATE_DATE,
               M.MEMBER_ID,
               M.NICKNAME,
               P.PROFILE_UUID,
               P.PROFILE_UPLOAD,
               P.PROFILE_NAME
        FROM TBL_POST_COMMENT PC
                 JOIN TBL_MEMBER M
                      ON PC.MEMBER_ID = M.MEMBER_ID
                 JOIN TBL_PROFILE P
                      ON M.MEMBER_ID = P.MEMBER_ID
        WHERE POST_ID = #{postId}
        order by COMMENT_ID DESC
    </select>

    <insert id="insertPostComment">
        <selectKey resultType="long" keyProperty="commentId" order="BEFORE">
            select SEQ_POST_COMMENT.nextval from dual
        </selectKey>
        INSERT INTO TBL_POST_COMMENT(COMMENT_ID, POST_ID,MEMBER_ID, COMMENT_CONTENT, CREATE_DATE)
        VALUES (#{commentId},#{postId},#{memberId},#{commentContent},SYSDATE)
    </insert>
    <update id="updatePostComment">
        UPDATE TBL_POST_COMMENT
        SET  COMMENT_CONTENT=#{commentContent},CREATE_DATE=SYSDATE
        WHERE  COMMENT_ID=#{commentId}
    </update>
    <delete id="deletePostComment">
        DELETE FROM TBL_POST_COMMENT
        WHERE COMMENT_ID=#{commentId}
    </delete>
    <select id="selectmodify">
        SELECT T.POST_ID, T.ISBN13,T.POST_CONTENT,T.MEMBER_ID, T.POST_TITLE,B.TITLE,B.COVER,B.DESCRIPTION,B.AUTHOR
        FROM TBL_POST T JOIN TBL_BOOK B
                             ON T.ISBN13 =B.ISBN13
        WHERE T.POST_ID=#{postId}
    </select>
    <update id="updatemodify">
        UPDATE TBL_POST
        SET ISBN13=#{isbn13},POST_TITLE=#{postTitle},POST_CONTENT=#{postContent},CREATE_DATE=SYSDATE
        WHERE POST_ID=#{postId} AND MEMBER_ID=#{memberId}
    </update>
    <delete id="deletePost">
        DELETE TBL_POST
        WHERE POST_ID=#{postId}
    </delete>
</mapper>
